body {
  font-family: system-ui;
  background-color: rgb(250, 208, 215);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  text-align: center;
}

img {
  max-width: 80%;
}

.answer-buttons {
}

button {
}
